.container.bg-tree.mt-4
    .row
        .col-4.col-md-3
            %img.img-fluid.rounded{:src=>"img/Tree2.PNG"}
        .col.8.text-center
            .sub-bg-tree.sub-pt-10
                %h2 คำนวณการดูดกลับ 
                    %br ก๊าซเรือนกระจก

.container.mt-4
    .card.mt-2.pb-2
        .row
            .col-12.pt-2.form-text
                .ml-2 ทั่วไป
        .row
            .col-3.col-md-3.text-right
                %img.img-fluid.rounded.ml-2{:src=>"img/T4.PNG"}
            .col-9.col-md.pt-2
                .row
                    .col-5.col-md-5.col-lg-5.pr-0.form-text
                        ความสูงของต้นไม้
                    .col.col-lg.form-text
                        %input.form-control.form-cfo{:type=>"number",'ng-model'=>"tree_h"}
                        เมตร 
                .row
                    .col-5.col-md-5.col-lg-5.pr-0.form-text
                        เส้นรอบวง
                    .col.col-lg.form-text
                        %input.form-control.form-cfo{:type=>"number",'ng-model'=>"tree_ccfr"}
                        เซนติเมตร
                .row
                    .col-5.col-md-5.col-lg-5.pr-0.form-text
                        จำนวน
                    .col.col-lg.form-text
                        %input.form-control.form-cfo{:type=>"number",'ng-model'=>"tree"}
                        ต้น 
    .card.mt-2.pb-2
        .row
            .col-12.pt-2.form-text
                .ml-2 ป่าชายเลน
        .row
            .col-3.col-md-3.text-right
                %img.img-fluid.rounded.ml-2{:src=>"img/T1.PNG"}
            .col-9.col-md.pt-2
                .row
                    .col-5.col-md-5.col-lg-5.pr-0.form-text
                        ความสูงของต้นไม้
                    .col.col-lg.form-text
                        %input.form-control.form-cfo{:type=>"number",'ng-model'=>"mgr_frs_h"}
                        เมตร 
                .row
                    .col-5.col-md-5.col-lg-5.pr-0.form-text
                        เส้นรอบวง
                    .col.col-lg.form-text
                        %input.form-control.form-cfo{:type=>"number",'ng-model'=>"mgr_frs_ccfr"}
                        เซนติเมตร
                .row
                    .col-5.col-md-5.col-lg-5.pr-0.form-text
                        จำนวน
                    .col.col-lg.form-text
                        %input.form-control.form-cfo{:type=>"number",'ng-model'=>"mgr_frs"}
                        ต้น 
    .card.mt-2.pb-2
        .row
            .col-12.pt-2.form-text
                .ml-2 ปาล์ม
        .row
            .col-3.col-md-3.text-right
                %img.img-fluid.rounded.ml-2{:src=>"img/T2.PNG"}
            .col-9.col-md.pt-2
                .row
                    .col-5.col-md-5.col-lg-5.pr-0.form-text
                        ความสูงของต้นไม้
                    .col.col-lg.form-text
                        %input.form-control.form-cfo{:type=>"number",'ng-model'=>"palm_h"}
                        เมตร 
                .row
                    .col-5.col-md-5.col-lg-5.pr-0.form-text
                        เส้นรอบวง
                    .col.col-lg.form-text
                        %input.form-control.form-cfo{:type=>"number",'ng-model'=>"palm_ccfr"}
                        เซนติเมตร
                .row
                    .col-5.col-md-5.col-lg-5.pr-0.form-text
                        จำนวน
                    .col.col-lg.form-text
                        %input.form-control.form-cfo{:type=>"number",'ng-model'=>"palm"}
                        ต้น 
    .card.mt-2.pb-2
        .row
            .col-12.pt-2.form-text
                .ml-2 เถาวัลย์
        .row
            .col-3.col-md-3.text-right
                %img.img-fluid.rounded.ml-2{:src=>"img/T3.PNG"}
            .col-9.col-md.pt-2
                .row
                    .col-5.col-md-5.col-lg-5.pr-0.form-text
                        ความสูงของต้นไม้
                    .col.col-lg.form-text
                        %input.form-control.form-cfo{:type=>"number",'ng-model'=>"vine_h"}
                        เมตร 
                .row
                    .col-5.col-md-5.col-lg-5.pr-0.form-text
                        เส้นรอบวง
                    .col.col-lg.form-text
                        %input.form-control.form-cfo{:type=>"number",'ng-model'=>"vine_ccfr"}
                        เซนติเมตร
                .row
                    .col-5.col-md-5.col-lg-5.pr-0.form-text
                        จำนวน
                    .col.col-lg.form-text
                        %input.form-control.form-cfo{:type=>"number",'ng-model'=>"vine"}
                        ต้น 
