.container.bg-1.mt-4
    .row
        .col-4.col-md-3
            %img.img-fluid.rounded{:src=>"img/cfo_scope5.PNG"}
        .col.8.text-center
            .sub-bg-1
                %h2 ประเภทที่ 1 
                %h3 ปริมาณการใช้ปุ๋ย
                    %br

.container.mt-4
    .row.mt-2
        .col-3.col-md-2.text-right
            %img.img-fluid.rounded{:src=>"img/fertilizer.PNG"}
        .col-9.col-md.card.pt-4
            .row
                .col-5.col-md-5.col-lg-5.pr-0.form-text
                    ปุ๋ยอินทรีย์ (ขี้ไก่แห้ง)
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"ogn_ftz"}
                    กิโลกรัมต่อปี

    .row.mt-2
        .col-3.col-md-2.text-right
            %img.img-fluid.rounded{:src=>"img/fertilizer46-0-0.PNG"}
        .col-9.col-md.card.pt-4
            .row
                .col-5.col-md-5.col-lg-5.pr-0.form-text
                    ปุ๋ยสูตร 46-0-0 (ยูเรีย)
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"fml_ftz46"}
                    กิโลกรัมต่อปี
    .row.mt-2
        .col-3.col-md-2.text-right
            %img.img-fluid.rounded{:src=>"img/fertilizer15-15-15.PNG",'ng-model'=>"ogn_ftz"}
        .col-9.col-md.card.pt-4
            .row
                .col-5.col-md-5.col-lg-5.pr-0.form-text
                    ปุ๋ยสูตร 15-15-15
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"fml_ftz15"}
                    กิโลกรัมต่อปี
    .row.mt-2
        .col-3.col-md-2.text-right
            %img.img-fluid.rounded{:src=>"img/fertilizer13-13-21.PNG",'ng-model'=>"ogn_ftz"}
        .col-9.col-md.card.pt-4
            .row
                .col-5.col-md-5.col-lg-5.pr-0.form-text
                    ปุ๋ยสูตร 13-13-21
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"fml_ftz13"}
                    กิโลกรัมต่อปี
    .row.mt-2
        .col-3.col-md-2.text-right
            %img.img-fluid.rounded{:src=>"img/fertilizer16-20-0.PNG"}
        .col-9.col-md.card.pt-4
            .row
                .col-5.col-md-5.col-lg-5.pr-0.form-text
                    ปุ๋ยสูตร 16-20-0
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"fml_ftz16"}
                    กิโลกรัมต่อปี
    .row.mt-2
        .col-3.col-md-2.text-right
            %img.img-fluid.rounded{:src=>"img/fertilizer16-16-16.PNG"}
        .col-9.col-md.card.pt-4
            .row
                .col-5.col-md-5.col-lg-5.pr-0.form-text
                    ปุ๋ย 16-16-16
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"ftz16"}
                    กิโลกรัมต่อปี
    .row.mt-2
        .col-3.col-md-2.text-right
            %img.img-fluid.rounded{:src=>"img/fertilizer8-24-24.PNG"}
        .col-9.col-md.card.pt-4
            .row
                .col-5.col-md-5.col-lg-5.pr-0.form-text
                    ปุ๋ย 8-24-24
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"ftz8"}
                    กิโลกรัมต่อปี
    .row.mt-2
        .col-3.col-md-2.text-right
            %img.img-fluid.rounded{:src=>"img/G28.PNG"}
        .col-9.col-md.card.pt-4
            .row
                .col-5.col-md-5.col-lg-5.pr-0.form-text
                    ยาฆ่าแมลง ฟูราดาน G28
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"inctc_g28"}
                    กิโลกรัมต่อปี