.container.bg-1.mt-4
    .row
        .col-4.col-md-3
            %img.img-fluid.rounded{:src=>"img/LPG45kg.PNG"}
        .col.8.text-center
            .sub-bg-1
                %h2 ประเภทที่ 1
                %h3 ปริมาณการใช้ LPG 
                    %br (ก๊าซหุงต้ม : ปรุงอาหาร)
.container.mt-4
    .row.mt-2
        .col-3.col-md-2.text-right
            %img.img-fluid.rounded{:src=>"img/LPG4kg.PNG"}
        .col-9.col-md.card.pt-4
            .row
                .col-6.col-md-5.col-lg-5.pr-0.form-text
                    ขนาดถัง 4 กิโลกรัม
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"lpg_size4"}
                    ถังต่อปี 
    .row.mt-2
        .col-3.col-md-2.text-right
            %img.img-fluid.rounded{:src=>"img/LPG7kg.PNG"}
        .col-9.col-md.card.pt-4
            .row
                .col-6.col-md-5.col-lg-5.pr-0.form-text
                    ขนาดถัง 7 กิโลกรัม
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"lpg_size7"}
                    ถังต่อปี 
    .row.mt-2
        .col-3.col-md-2.text-right
            %img.img-fluid.rounded{:src=>"img/LPG11_5kg.PNG"}
        .col-9.col-md.card.pt-4
            .row
                .col-6.col-md-5.col-lg-5.pr-0.form-text
                    ขนาดถัง 11.5 กิโลกรัม
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"lpg_size11"}
                    ถังต่อปี 
    .row.mt-2
        .col-3.col-md-2.text-right
            %img.img-fluid.rounded{:src=>"img/LPG13_5kg.PNG"}
        .col-9.col-md.card.pt-4
            .row
                .col-6.col-md-5.col-lg-5.pr-0.form-text
                    ขนาดถัง 13.5 กิโลกรัม
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"lpg_size13"}
                    ถังต่อปี 
    .row.mt-2
        .col-3.col-md-2.text-right
            %img.img-fluid.rounded{:src=>"img/LPG15kg.PNG"}
        .col-9.col-md.card.pt-4
            .row
                .col-6.col-md-5.col-lg-5.pr-0.form-text
                    ขนาดถัง 15 กิโลกรัม
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"lpg_size15"}
                    ถังต่อปี 
    .row.mt-2
        .col-3.col-md-2.text-right
            %img.img-fluid.rounded{:src=>"img/LPG45kg.PNG"}
        .col-9.col-md.card.pt-4
            .row
                .col-6.col-md-5.col-lg-5.pr-0.form-text
                    ขนาดถัง 48 กิโลกรัม
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"lpg_size48"}
                    ถังต่อปี 
