.container.bg-1.mt-4
    .row
        .col-4.col-md-3
            %img.img-fluid.rounded{:src=>"img/cfo_scope3.PNG"}
        .col.8.text-center
            .sub-bg-1
                %h2 ประเภทที่ 1 
                %h3 ปริมาณการใช้น้ำมันเชื้อเพลิง
.container.mt-4
    .row.mt-2
        .col-3.col-md-3.text-right
            %img.img-fluid.rounded{:src=>"img/diesel.PNG"}
        .col-9.col-md.card.pt-2
            .row
                .col-6.col-md-5.col-lg-5.pr-0.form-text
                    ดีเซล จำนวน
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"dsl_mch"}
                    เครื่อง 
            .row
                .col-6.col-md-5.col-lg-5.pr-0.form-text
                    (เครื่องจักร) ปริมาณ
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"dsl_v"}
                    ลิตรต่อปี 

    .row.mt-2
        .col-3.col-md-3.text-right
            %img.img-fluid.rounded{:src=>"img/gls.PNG"}
        .col-9.col-md.card.pt-2
            .row
                .col-6.col-md-5.col-lg-5.pr-0.form-text
                    เบนซิน จำนวน
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"gsl_mch"}
                    เครื่อง 
            .row
                .col-6.col-md-5.col-lg-5.pr-0.form-text
                    (เครื่องจักร) ปริมาณ
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"gsl_v"}
                    ลิตรต่อปี 
    .row.mt-2
        .col-3.col-md-3.text-right
            %img.img-fluid.rounded{:src=>"img/diesel.PNG"}
        .col-9.col-md.card.pt-2
            .row
                .col-6.col-md-5.col-lg-5.pr-0.form-text
                    ดีเซล จำนวน
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"dsl_car"}
                    คัน
            .row
                .col-6.col-md-5.col-lg-5.pr-0.form-text
                    (ยานพาหนะ) ปริมาณ
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"dslc_v"}
                    ลิตรต่อปี 
    .row.mt-2
        .col-3.col-md-3.text-right
            %img.img-fluid.rounded{:src=>"img/gls.PNG"}
        .col-9.col-md.card.pt-2
            .row
                .col-6.col-md-5.col-lg-5.pr-0.form-text
                    เบนซิน จำนวน
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"gsl_car"}
                    คัน
            .row
                .col-6.col-md-5.col-lg-5.pr-0.form-text
                    (ยานพาหนะ) ปริมาณ
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"gslc_v"}
                    ลิตรต่อปี 
    .row.mt-2
        .col-3.col-md-3.text-right
            %img.img-fluid.rounded{:src=>"img/LPG.PNG"}
        .col-9.col-md.card.pt-2
            .row
                .col-6.col-md-5.col-lg-5.pr-0.form-text
                    LPG จำนวน
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"lpg_car"}
                    คัน 
            .row
                .col-6.col-md-5.col-lg-5.pr-0.form-text
                    (ยานพาหนะ) ปริมาณ
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"lpg_v"}
                    ลิตรต่อปี 
    .row.mt-2
        .col-3.col-md-3.text-right
            %img.img-fluid.rounded{:src=>"img/cfo-nvg.png"}
        .col-9.col-md.card.pt-2
            .row
                .col-6.col-md-5.col-lg-5.pr-0.form-text
                    NGV จำนวน
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"ngv_car"}
                    คัน
            .row
                .col-6.col-md-5.col-lg-5.pr-0.form-text
                    (ยานพาหนะ) ปริมาณ
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"ngv_v"}
                    ลิตรต่อปี 
