.container.bg-1.mt-4
    .row
        .col-4.col-md-3
            %img.img-fluid.rounded{:src=>"img/cfo_scope13.PNG"}
        .col.8.text-center
            .sub-bg-1.sub-pt-10
                %h2 ประเภทที่ 3 
                %h3 ปริมาณการใช้น้ำประปา
.container.mt-4
    .row.mt-2
        .col-3.col-md-2.text-right
            %img.img-fluid.rounded{:src=>"img/pwa.PNG"}
        .col-9.col-md.card.pt-3
            .row
                .col-4.col-md-5.col-lg-5.pr-0.form-text
                    การประปา ส่วนภูมิภาค
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"pwa"}
                    ลูกบาศก์เมตรต่อปี

    .row.mt-2
        .col-3.col-md-2.text-right
            %img.img-fluid.rounded{:src=>"img/mwa.PNG"}
        .col-9.col-md.card.pt-4
            .row
                .col-4.col-md-5.col-lg-5.pr-0.form-text
                    การประปานครหลวง
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"mwa"}
                    ลูกบาศก์เมตรต่อปี

.container.bg-1.mt-4
    .row
        .col-4.col-md-3
            %img.img-fluid.rounded{:src=>"img/chemical.PNG"}
        .col.8.text-center
            .sub-bg-1.sub-pt-5
                %h2 ประเภทที่ 3 
                %h3 ปริมาณการใช้สารเคมี 
                    %br ในการผลิตน้ำประปา
.container.mt-4
    .row.mt-2
        .col-3.col-md-2.text-right
            %img.img-fluid.rounded{:src=>"img/alum.PNG"}
        .col-9.col-md.card.pt-4
            .row
                .col-4.col-md-5.col-lg-5.pr-0.form-text
                    สารส้ม
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"alum"}
                    กิโลกรัมต่อปี

    .row.mt-2
        .col-3.col-md-2.text-right
            %img.img-fluid.rounded{:src=>"img/chlorine.PNG"}
        .col-9.col-md.card.pt-4
            .row
                .col-4.col-md-5.col-lg-5.pr-0.form-text
                    คลอรีน
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"chlorine"}
                    กิโลกรัมต่อปี
    .row.mt-2
        .col-3.col-md-2.text-right
            %img.img-fluid.rounded{:src=>"img/cfo_scope9.PNG"}
        .col-9.col-md.card.pt-4
            .row
                .col-4.col-md-5.col-lg-5.pr-0.form-text
                    ปูนขาว
                .col.col-lg.form-text
                    %input.form-control.form-cfo{:type=>"number",'ng-model'=>"lime"}
                    กิโลกรัมต่อปี

