.cfo-main-wrap{"ng-controller"=>"cfoHome"}
    .cfo-sub-wrap
        .container
            .row
                .col-12.text-center
                    %h1.pt-5 การคำนวณการปล่อยก๊าซเรือนกระจก
            .row
                .col-12.col-lg-12.text-center
                    %a{:href=>"http://www.tgo.or.th/2020/index.php/th/"}
                        %img.cfo-logo-tgo{:src=>"img/cfo_logo_tgo.svg"}
            .row
                .col-12.text-center
                    %h2.pt-5 กรุณาเลือกระดับที่ท่านต้องการ                        
        .container.mt-2
            .row
                .col-12
                    .panel.panel-home-cfo
                        .panel-body
                            .container
                                .row
                                    .col-12.text-center
                                        %a{:href=>"#/home"}
                                            %button.btn.btn-home-title  
                                                %h2 ระดับเมือง (CCF)
                            .container.mt-2
                                .row
                                    .col-4.col-md-5.text-right
                                        %img.ml-2{:src=>"img/cfo_logo_pmr_sm.png"}
                                        -# %img.ml-2{:src=>"img/cfo_logo_pmr_lg.png"}
                                    .col-8.col-md-6.text-left
                                        %h4.mt-3 การวิเคราะห์การปล่อย
                                            %br ก๊าซเรือนกระจกระดับเมือง
                        %a{:href=>"http://ghgreduction.tgo.or.th/pmr.html"}
                            .ccf-link.material-icons link 
            .row
                .col-12
                    .panel.panel-home-cfo.mt-2
                        .panel-body
                            .container
                                .row
                                    .col-12.text-center
                                        %button.btn.btn-home-title{:data-toggle=>"modal", :data-target=>"#cfoHomeModal"} 
                                            %h2 ระดับองค์กร (CFO)
                            .container.mt-2
                                .row
                                    .col-4.col-md-5.text-right
                                        %img.ml-2{:src=>"img/CFO.svg",:width=>"92px"}
                                        -# %img.ml-2{:src=>"img/co2.png",:width=>"92px"}
                                    .col-8.col-md-6.text-left
                                        %h4.mt-3 การวิเคราะห์การปล่อยก๊าซเรือนกระจก
                                            %br  ระดับองค์กรปกครองส่วนท้องถิ่น
            .row
                .col-12
                    .panel.panel-home-cfo.mt-2
                        .panel-body
                            .container.mt-1
                                .row
                                    .col-4.col-md-5.text-right
                                        %img.ml-2{:src=>"img/cfo_local_graph.png"}
                                    .col-8.col-md-6.text-left
                                        %h4 ระบบรายงานข้อมูลก๊าซเรือนกระจกของ 
                                            องค์กรปกครองส่วนท้องถิ่นและเมือง
                            %a{:href=>"http://localcfo.tgo.or.th/#page-top"}
                                .ccf-link.material-icons link

        .container-fluid.cfo-home-bg
        .cfo-home-footer
            .container 
                .row.pt-3
                    .col-12.text-center
                        %p หมายเหตุ มีการบันทึกในฐานข้อมูลขององค์การบริหารจัดการก๊าซเรือนกระจก (องค์การมหาชน)
                            %br
                            %small Version 1.4
 


     
    -# Modal
    #cfoHomeModal.modal.fade{:tabindex=>"-1", :role=>"dialog", :aria-labelledby=>"cfoHomeModalLabel", :aria-hidden=>"true"}
        .modal-dialog.modal-dialog-centered.modal-sm{:role=>"document"}
            .modal-content.modal-home
                .modal-body
                    .container
                        .row.pt-2.pb-4 
                            .col-12.text-center
                                %a{:href=>"#/cfo-game"}
                                    %button.btn.btn-lg.btn-modal-home.btn-block แบบทดสอบความเข้าใจ
                                %a{:href=>"#/cfo-form-gov"}
                                    %button.btn.btn-lg.btn-modal-home.btn-block.mt-4 คำนวณ

               
