.container
    .row.mt-4
        .col-12.text-center 
            %h1 ลดการใช้ไฟฟ้า/ใช้พลังงานหมุนเวียน
.container
    .row
        .col-12.text-center
            %img.logo-recom-energy{:src=>"img/recom-energy.svg"}
.container
    .container
        .row.justify-content-md-center
            .card.pt-2.col-12.col-md-7
                %table.table.table-borderless
                    %tbody
                        %tr
                            %td{:colspan=>"2"}
                                %h3
                                    %strong ลดการใช้ไฟฟ้า     
                        %tr
                            %td.text-right.w-25 
                                %img.icon-energy{:src=>"img/recom-energy-plug.svg"}
                            %td.align-middle
                                %p ถอดปลั๊กเครื่องใช้ไฟฟ้าเมื่อไม่ใช้งาน
                        %tr
                            %td.text-right.w-25 
                                %img.img-fluid.icon-energy{:src=>"img/recom-energy-auto.svg"}
                            %td.align-middle
                                %p ติดตั้งระบบเปิด-ปิดไฟแบบอัตโนมัติน
                        
                        %tr
                            %td{:colspan=>"2"}
                                %h3
                                    %strong เปลี่ยนหลอดไฟ     
                        %tr
                            %td.text-right.w-25 
                                %img.img-fluid.icon-energy{:src=>"img/recom-energy-led.svg"}
                            %td.align-middle
                                %p จากฟลูออเรสเซนต์ 36 วัตต์ เป็น LED 18 วัตต์ เปิดใช้งาน 12 ชั่วโมง/วัน ลดก๊าซฯ 0.05 ตัน/หลอด/ปี
                        %tr
                            %td.text-right.w-25 
                                %img.img-fluid.icon-energy{:src=>"img/recom-energy-solarcell_pb.svg"}
                            %td.align-middle
                                %p จากหลอดไฟสาธารณะ 150 วัตต์ เป็นไฟส่องสว่างพลังงานแสงอาทิตย์ เปิดใช้งาน 12 ชั่วโมง/วัน ลดก๊าซฯ 0.32 ตัน/หลอด/ปี
                        %tr
                            %td{:colspan=>"2"}
                                %h3
                                    %strong เครื่องปรับอากาศ     
                        %tr
                            %td.text-right.w-25 
                                %img.img-fluid.icon-energy{:src=>"img/recom-energy-onoff.svg"}
                            %td.align-middle
                                %p กำหนดเวลา เปิด-ปิด เครื่องปรับอากาศ/ไฟฟ้าแสงสว่าง
                        %tr
                            %td.text-right.w-25 
                                %img.img-fluid.icon-energy{:src=>"img/recom-energy-clean-air.svg"}
                            %td.align-middle
                                %p ล้างเครื่องปรับอากาศเป็นประจำ
                        %tr
                            %td.text-right.w-25 
                                %img.img-fluid.icon-energy{:src=>"img/recom-energy-clean-air.svg"}
                            %td.align-middle
                                %p เปลี่ยนเครื่องปรับอากาศ 12,000 BTU เป็นแบบอินเวอร์เตอร์ เปิดใช้งาน 6 ชั่วโมง/วัน ลดก๊าซฯ 0.57 ตัน/ตันความเย็น/ปี

                        %tr
                            %td{:colspan=>"2"}
                                %h3
                                    %strong ใช้พลังงานหมุนเวียน     
                        %tr
                            %td.text-right.w-25 
                                %img.img-fluid.icon-energy{:src=>"img/recom-energy-solar-cell.svg"}
                            %td.align-middle
                                %p ติดตั้ง Solar PV Rooftop ลดก๊าซฯ 0.8 ตัน/กิโลวัตต์ติดตั้ง/ปี
                %p 
                    %strong หมายเหตุ : 
                    ตันก๊าซเรือนกระจก หรือ tCO
                    %sub 2
                    eq หมายถึง ตันคาร์บอนไดออกไซด์เทียบเท่า




