.container
    .row.mt-4
        .col-12.text-center 
            %h1 ลดการใช้น้ำมันเชื้อเพลิง
.container
    .row
        .col-12.text-center
            %img.logo-recom-energy{:src=>"img/cfo-fuel-recom.svg"}
.container
    .container
        .row.justify-content-md-center
            .card.pt-2.col-12.col-md-7
                %table.table.table-borderless
                    %tbody 
                        %tr
                            %td.text-right.w-25 
                                %img.icon-energy{:src=>"img/way.svg"}
                            %td.align-middle
                                %p ทางเดียวกันไปด้วยกัน
                        %tr
                            %td.text-right.w-25 
                                %img.img-fluid.icon-energy{:src=>"img/bicycle.svg"}
                            %td.align-middle
                                %p ใช้รถจักรยานแทนรถจักรยานยนต์ 125 cc. ลดก๊าซฯ 0.06 กก./กิโลเมตร
                        %tr
                            %td.text-right.w-25 
                                %img.img-fluid.icon-energy{:src=>"img/bicycle.svg"}
                            %td.align-middle
                                %p ใช้รถจักรยานแทนรถยนต์ 1,600 cc. ลดก๊าซฯ 0.15 กก./กิโลเมตร
                        %tr
                            %td.text-right.w-25 
                                %img.img-fluid.icon-energy{:src=>"img/bicycle.svg"}
                            %td.align-middle
                                %p เปลี่ยนรถจักรยานยนต์ 150 cc. เป็น รถจักรยานยนต์ไฟฟ้า ลดก๊าซฯ 0.05 กก./กิโลเมตร
                        %tr
                            %td.text-right.w-25 
                                %img.img-fluid.icon-energy{:src=>"img/car.svg"}
                            %td.align-middle
                                %p เปลี่ยนรถยนต์ 1,600 cc. ใช้แก๊สโซฮอล์ E10 เป็น รถยนต์ไฟฟ้า ลดก๊าซฯ 0.11 กก./กิโลเมตร
                        
                %p 
                    %strong หมายเหตุ : 
                    กก. ก๊าซเรือนกระจก หรือ kgCO
                    %sub 2
                    eq หมายถึง กิโลกรัมคาร์บอนไดออกไซด์เทียบเท่า




