.container
    .row.mt-4
        .col-12.text-center 
            %h1 การจัดการขยะมูลฝอย
.container
    .row
        .col-12.text-center
            %img.logo-recom-energy{:src=>"img/cfo-garbage-recom.svg"}
.container
    .container
        .row.justify-content-md-center
            .card.pt-2.col-12.col-md-8
                %table.table.table-borderless
                    %tbody  
                        %tr
                            %td.text-right.w-25 
                                %img.icon-energy{:src=>"img/3Rs.svg"}
                            %td.align-middle
                                %p ลดการเกิดขยะ ลดการใช้ นำมาใช้ซ้ำ
                        %tr
                            %td.text-right.w-25 
                                %img.img-fluid.icon-energy{:src=>"img/bin.svg"}
                            %td.align-middle
                                %p คัดแยกขยะเพื่อรีไซเคิล
                                %table.table-sm 
                                    %tr
                                        %td.td-color.text-center 
                                            %img.img-fluid.icon-energy{:src=>"img/paper.png"}
                                        %td.text-center
                                            %img.img-fluid.icon-energy{:src=>"img/plastic.png"}
                                        %td.td-color.text-center
                                            %img.img-fluid.icon-energy{:src=>"img/aluminum.png"}
                                        %td.text-center
                                            %img.img-fluid.icon-energy{:src=>"img/steel.png"}
                                        %td.td-color
                                            %img.img-fluid.icon-energy{:src=>"img/glass.png"}
                                    %tr.subtable
                                        %td.td-color.text-center กระดาษ 1 ตัน
                                        %td.text-center พลาสติก 1 ตัน
                                        %td.td-color.text-center อลูมิเนียม 1 ตัน
                                        %td.text-center เหล็ก 1 ตัน
                                        %td.td-color.text-center แก้ว 1 ตัน 
                                    -# %tr.subtable
                                    -#     %td{:colspan=>"5"} 
                                    -#         %strong ลดการปล่อยก๊าซเรือนกระจก
                                    %tr.subtable
                                        %td.td-color.text-center ลดก๊าซฯ
                                        %td.text-center ลดก๊าซฯ
                                        %td.td-color.text-center ลดก๊าซฯ
                                        %td.text-center ลดก๊าซฯ
                                        %td.td-color.text-center ลดก๊าซฯ
                                    %tr.subtable
                                        %td.td-color.text-center 0.49 ตัน
                                        %td.text-center 0.87 ตัน
                                        %td.td-color.text-center 3.38 ตัน
                                        %td.text-center 1.14 ตัน
                                        %td.td-color.text-center 0.74 ตัน


                        %tr
                            %td.text-right.w-25 
                                %img.icon-energy{:src=>"img/ftz.svg"}
                            %td.align-middle
                                %p นำไปผลิตปุ๋ย/สารปรับปรุงดิน 1 ตัน ลดก๊าซฯ 0.53 ตัน/ตันขยะอินทรีย์
                        %tr
                            %td.text-right.w-25 
                                %img.img-fluid.icon-energy{:src=>"img/Biogas.svg"}
                            %td.align-middle
                                %p นำไปผลิตก๊าซชีวภาพ ลดก๊าซฯ 0.64 ตัน/ตันขยะอินทรีย์
                        %tr
                            %td.text-right.w-25 
                                %img.img-fluid.icon-energy{:src=>"img/fule_p.svg"}
                            %td.align-middle
                                %p นำไปผลิตเชื้อเพลิงขยะ (RDF) ลดก๊าซฯ 0.48 ตัน/ตันขยะมูลฝอย
                %p 
                    %strong หมายเหตุ : 
                    ตันก๊าซเรือนกระจก หรือ tCO
                    %sub 2
                    eq หมายถึง ตันคาร์บอนไดออกไซด์เทียบเท่า




