.container
    .row.mt-4
        .col-12.text-center 
            %h1 การจัดการขยะมูลฝอย
.container
    .row
        .col-12.text-center
            %img.logo-recom-energy{:src=>"img/cfo-garbage-recom.svg"}
.container
    .container
        .row.justify-content-md-center
            .card.pt-2.col-12.col-md-8
                %table.table.table-borderless
                    %tbody  
                        %tr
                            %td.text-right.w-25 
                                %img.icon-energy{:src=>"img/3Rs.svg"}
                            %td.align-middle
                                %p ลดการเกิดขยะ ลดการใช้ นำมาใช้ซ้ำ
                        %tr
                            %td.text-right.w-25 
                                %img.img-fluid.icon-energy{:src=>"img/bin.svg"}
                            %td.align-middle
                                %p คัดแยกขยะเพื่อรีไซเคิล
                                %table.table-sm 
                                    %tr
                                        %td รูป
                                        %td รูป
                                        %td รูป
                                        %td รูป
                                        %td รูป
                                    %tr.subtable
                                        %td กระดาษ 1 ตัน
                                        %td พลาสติก 1 ตัน
                                        %td อลูมิเนียม 1 ตัน
                                        %td เหล็ก 1 ตัน
                                        %td แก้ว 1 ตัน
                                    %tr.subtable.table-active
                                        %td{:colspan=>"5"} 
                                            %strong ลดการปล่อยก๊าซเรือนกระจก
                                    %tr.subtable
                                        %td 0.49 ตัน
                                        %td 0.87 ตัน
                                        %td 3.38 ตัน
                                        %td 1.14 ตัน
                                        %td 0.74 ตัน


                        %tr
                            %td.text-right.w-25 
                                %img.icon-energy{:src=>"img/ftz.svg"}
                            %td.align-middle
                                %p นำไปผลิตปุ๋ย/สารปรับปรุงดิน 1 ตัน ลดก๊าซฯ 0.53 ตัน/ตันขยะอินทรีย์
                        %tr
                            %td.text-right.w-25 
                                %img.img-fluid.icon-energy{:src=>"img/Biogas.svg"}
                            %td.align-middle
                                %p นำไปผลิตก๊าซชีวภาพ ลดก๊าซฯ 0.64 ตัน/ตันขยะอินทรีย์
                        %tr
                            %td.text-right.w-25 
                                %img.img-fluid.icon-energy{:src=>"img/fule_p.svg"}
                            %td.align-middle
                                %p นำไปผลิตเชื้อเพลิงขยะ (RDF) ลดก๊าซฯ 0.48 ตัน/ตันขยะมูลฝอย
                %p 
                    %strong หมายเหตุ : 
                    ตันก๊าซเรือนกระจก หรือ tCO
                    %sub 2
                    eq หมายถึง ตันคาร์บอนไดออกไซด์เทียบเท่า




