.container
    .row.mt-4
        .col-12.text-center 
            %h1 เพิ่มพื้นที่สีเขียวเพื่อดูดกลับก๊าซเรือนกระจก
.container
    .row
        .col-12.text-center
            %img.logo-recom-energy{:src=>"img/cfo-recom-tree.svg"}
.container
    .container
        .row.justify-content-md-center
            .card.pt-4.col-12.col-md-7
                %table.table.table-sm
                    %thead
                        %tr 
                            %th.text-center{:colspan=>"2"} ปลูกต้นไม้ 1 ต้น
                            %th ลดก๊าซเรือนกระจก (กก./ปี)
                    %tbody
                        %tr
                            %td.text-right.w-25 
                                %img.icon-energy{:src=>"img/cfo-recom-tree1.svg"}
                            %td.align-middle สัก
                            %td.align-middle.text-center
                                %p 13.6
                        %tr
                            %td.text-right.w-25 
                                %img.icon-energy{:src=>"img/cfo-recom-tree2.svg"}
                            %td.align-middle ยูคาลิปตัส
                            %td.align-middle.text-center
                                %p 11.8
                        %tr
                            %td.text-right.w-25 
                                %img.icon-energy{:src=>"img/cfo-recom-tree3.svg"}
                            %td.align-middle โกงกาง
                            %td.align-middle.text-center
                                %p 3.9
                        %tr
                            %td.text-right.w-25 
                                %img.icon-energy{:src=>"img/cfo-recom-tree4.svg"}
                            %td.align-middle ยางพารา
                            %td.align-middle.text-center
                                %p 47.4
                        %tr
                            %td.text-right.w-25 
                                %img.icon-energy{:src=>"img/cfo-recom-tree5.svg"}
                            %td.align-middle พรรณไม้รอบรั้วกินได้
                            %td.align-middle.text-center
                                %p 14.7
                        %tr
                            %td.text-right.w-25 
                                %img.icon-energy{:src=>"img/cfo-recom-tree6.svg"}
                            %td.align-middle พรรณไม้ริมถนน
                            %td.align-middle.text-center
                                %p 24.2




