.nav-bg{"ng-controller"=>"cfoPartials"}
    .container
        .row
            .col-3.text-right
                %a{:href=>"#/"}
                    %span.material-icons.nav-icon-home home 
            .col-7.text-center
                .nav-tite{'ng-bind-html'=>"headerTitle"}