.nav-bg{"ng-controller"=>"cfoPartials"}
    .container
        .row
            .col-3.text-right
                %a{:href=>"#/"}
                    %img{:src=>"img/cfo-icon-home.svg", 'ng-class'=>"classIcon"}
                    -# %span.material-icons.nav-icon-home home 
            .col-7.text-center
                %h2{'ng-bind-html'=>"headerTitle",'ng-class'=>"headerclassTitle"}